/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  width: 90%;
  text-align: center;
  margin-top: 2px;
}
.footer-heading {
  color: #475569;
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 12vh;
  }
  .footer-heading {
    color: #475569;
    font-size: 25px;
  }
}
